@charset "UTF-8";
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

img {
  border-style: none;
}

body {
  background-color: #ffffff;
  color: #212121;
  font-family: "Roboto", sans-serif, sans-serif;
  letter-spacing: 0.03em;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  outline: none;
  display: block;
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
}

.section {
  padding: 60px 0;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}

.logo {
  display: block;
  font-family: "Raleway" cursive;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: #212121;
}

.logo-footer {
  font-family: "Raleway" cursive;
  text-decoration: none;
  color: #ffffff;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.color-text {
  color: #2196f3;
}

.page-header {
  border-bottom: 1px solid #afb1b8;
}

.main-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
}

.menu-button .icon-close {
  display: none;
}

.menu-button.is-open .icon-close {
  display: block;
}

.menu-button.is-open .icon-burger {
  display: none;
}

@media screen and (min-width: 767px) {
  .menu-button {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .menu-wrapper {
    display: none;
    position: absolute;
    align-items: center;
    background-color: #ffffff;
    width: 100%;
    top: 101%;
    left: 0;
    padding: 60px 0;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  }
  .menu-wrapper.is-open {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .site-nav {
    text-align: center;
  }
  .site-nav .item:not(:last-child) {
    padding-bottom: 40px;
  }
}

.site-nav .item:last-child {
  padding-bottom: 60px;
}

.site-nav .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #212121;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: #2196f3;
}

.auth-nav {
  justify-items: center;
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.auth-nav .link-svg {
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .auth-nav .item {
    display: flex;
    justify-content: center;
  }
  .auth-nav .item:first-child {
    padding-bottom: 16px;
  }
}

.auth-nav .link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  font-style: normal;
  text-decoration: none;
  color: #757575;
  fill: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-nav .link:hover,
.auth-nav .link:focus {
  fill: #2196f3;
  color: #2196f3;
}

/* ГЕРОЙ */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/people_working.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  background-color: #212121;
}

.hero-section {
  padding: 118px 60px;
  max-width: 696px;
}

.hero .title {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.615;
  color: #ffffff;
}

.hero-button {
  display: inline-block;
  border-radius: 6px;
  padding: 10px 32px;
  min-width: 136px;
  margin-top: 30px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  background-color: #2196f3;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  /* transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}
/*# sourceMappingURL=main.css.map */