/* ГЕРОЙ */

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/people_working.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  background-color: $primery-text-color;
}

.hero-section {
  padding: 200px 0;
  max-width: 696px;
}

.hero .title {
  text-transform: uppercase;
  font-weight: 900;
  width: 360px;
  font-size: 26px;
  
  line-height: 1.615;
  color: $plain-text-color;
}

.hero-button {
  display: inline-block;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 136px;
  margin-top: 30px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  background-color: $accent-text-color;
  color: $plain-text-color;
  text-decoration: none;
  text-align: center;

  /* transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

@media screen and (min-width: 1199px){
  .hero{
    .title{
      text-transform: uppercase;
      font-weight: 900;
      font-size: 44px;
      line-height: 1.39;
      color: $plain-text-color;
      width: 100%;
    }
  }
}
