.logo {
  display: block;
  font-family: $secondary-font;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.166;
  text-decoration: none;
  color: $primery-text-color;
}

.logo-footer {
  font-family: $secondary-font;
  text-decoration: none;
  color: $plain-text-color;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.166;

  letter-spacing: 0.03em;
}

.color-text {
  color: $accent-text-color;
}
@media screen and (min-width: 1199px){
  .logo{
    font-size: 26px;
    font-size: 1.192;
    font-family: $secondary-font;
  }

  .logo-footer{
    font-family: $secondary-font;
    font-size: 26px;
    font-size: 1.192;
  }
}