html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

img {
  border-style: none;
}

body {
  background-color: $plain-text-color;
  color: $primery-text-color;
  font-family: $main-font, sans-serif;
  letter-spacing: 0.03em;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  outline: none;
  display: block;
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
}
