$main-font: "Roboto", sans-serif;
$secondary-font: "Raleway" cursive;
$primery-text-color: #212121;
$title-text-color: #757575;
$accent-text-color: #2196f3;
$plain-text-color: #ffffff;
$accent-link-color: #afb1b8;
